*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #444442;
    display: flex;
    align-items: center;
    justify-content: center;

}

form{
    background-color: #d3d3d3;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw ;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;

}

form h3{
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;

}

form input, form textarea{
   border: 0;
   margin: 10px 0;
   padding: 20px;
   outline: none;
   font-size: 16px;


}

form button{
    padding: 15px;
    border: 0;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;

}