*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #444442 ;
    display: grid;
    place-items: center;
    height: 100vh;


}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 300px;
    background-color:#D3D3D3;
    border-radius: 10px;
    padding: 20px;

}


h1{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;

}

label{
    font-size: 20px;
    font-weight: bold;

}

input{
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
    margin-top: 10px;
    outline: none;
    
}

.login-btn{
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
}