*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins';
    background-color: #A9A9A9;
    background-size: cover;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJqz7e0P9HBoVR5e86U3k8gBTOQcda1aSkPanZxCqcyA&s");
    
}

header{
    height: 100vh;
    width: 10vw;
}


.navbar{
    position: absolute;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;

}

.navbar a{
    color: white;
}

.navbar .logo{
    font-size: 2em;
    font-weight: bold;

}



.navbar .nav-links ul{
    display: flex;

}


.navbar .nav-links ul li{
    margin: 0 30px;

}


.navbar .nav-links ul li.active a{
    color: red;
    font-weight: 600;


}

.navbar .menu-hamburger{
    display: none;
    top: 30px;
    right: 50px;    

}


@media screen and (max-width: 9000px) {

    .navbar .logo{
        
    }

    .navbar{
        padding: 0;
    }
    .navbar .menu-hamburger{
        display: block;
        position: absolute;
        top: 30px;
        right: 50px;   
    }

    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }
       .nav-links.mobile-menu{
    margin-left: 0;

}
    
     .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .navbar .nav-links ul li{  
        margin: 25px 0;
        font-size: 1.2em;
    }
}
